* {
    margin: 0;
    padding: 0;
    list-style: none;
    outline: 0;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #eee;
}

body > div {
    width: 30rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 1rem;
}

body > div:first-child {
    margin: 3rem 0;
}
body > div:first-child div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 0.5rem;
}
body > div:first-child div input {
    flex: 1;
    height: 2rem;
    border-radius: 4px;
    padding: 0 1rem;
    border: 1px solid #ddd;
}
body > div:first-child div button {
    height: 2rem;
    aspect-ratio: 2 /1;
    border-radius: 4px;
    cursor: pointer;
    background-color: #ddd;
    transition: background-color 200ms ease-in-out;
}
body > div:first-child div button:hover{
    background-color: #ccc;
}
body > div:nth-child(2) div {
    margin: 0.5rem 0;
    height: 32px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

body > div:nth-child(2) div label {
    flex: 1;
}

body > div:nth-child(2) div button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
body > div:nth-child(2) div button svg {
    background-color: #eee;
}
